# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.egg-info/

# Virtual environments
.venv/

# OS files
.DS_Store
Thumbs.db

# Test files
configs/profiles/*.json
configs/songs/*.json

# Output files
*_notes.json
*.wav
